.appheaderContainer {
    border-bottom: solid 1px;
    width: 100vw;
    display: flex;
    padding: 20px;
    align-items: center;
    height: var(--appHeader-height);
    justify-content: space-between;
}

.appheaderSVG {
    height: 200px;
    width: 200px;
    margin-top: 80px;
    margin-left: -40px;
}

.appheaderAction {
    display: flex;
    align-items: center;
    gap: 10px
}

