.container {
    border-bottom: solid 1px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.action {
    position: absolute;
    right: 10px
}