.form {
    width: 500px;
    border: solid var(--mantine-color-text);
    border-radius: var(--mantine-radius-default);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.formInputs {
    display: flex;
    gap: 10px
}


.gender {
    display: flex;
    flex-direction: column;
}


