@import "tailwindcss";

:root[class="dark"] {
  --background: #171717;
  --foreground:#ffffff;
  --dark-mode-hide: none
}

:root[class="light"] {
  --background: #ffffff;
  --foreground: #171717;
  --light-mode-hide: none
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}  */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
