.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 500px;
    width: 500px;
}

.eventsList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: inherit;
    justify-content: center;
}

.card{
    width: 400px;
    flex-shrink: 0;
}


@media (width < 992px){
    .card{
        width: 100%;
    }}
    
    .cardContent {
        display: flex;
        flex-direction: column;
        gap: 20px
    
    }
    