.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 5px;
}

.svg{
    margin: -100px
}

.card {

    width: 500px;
    display: flex;
    flex-direction: column;
}


.cardContent {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px
}